apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: cr.yandex/crpuein3jvjccnafs2vc/app
    newName: cr.yandex/crpuein3jvjccnafs2vc/app
    newTag: v20251030202308
labels:
  - pairs:
      env: prod

