apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app: app
  annotations:
    service.beta.kubernetes.io/yandex-load-balancer-type: "external"
spec:
  type: LoadBalancer
  selector:
    app: app
  ports:
    - name: http
      port: 80
      targetPort: 3001

